<div class="page home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    <img src="assets/svg/file.svg" width="80" height="50">
                    Todo APP
                </h2>
            </div>
            <div class="col-md-6">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Yapılacak yeni madde ekle" #newTodo>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" (click)="addTodo(newTodo)">Ekle</button>
                    </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <mat-card class="d-flex">
                        <div class="example-container">
                                <h5>Bekleyenler</h5>
                              
                                <div
                                  cdkDropList
                                  #pendingList="cdkDropList"
                                  [cdkDropListData]="data.pendings"
                                  [cdkDropListConnectedTo]="[progressList]"
                                  class="example-list"
                                  (cdkDropListDropped)="drop($event)">
                                  <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                                    <img class="svg" src="assets/svg/clock.svg">  
                                    {{item}}</div>
                                </div>
                        </div>
                              
                        <div class="example-container">
                                <h5>Yapım Aşamasında olanlar</h5>
                              
                                <div
                                  cdkDropList
                                  #progressList="cdkDropList"
                                  [cdkDropListData]="data.inProgress"
                                  [cdkDropListConnectedTo]="[pendingList,doneList]"
                                  class="example-list"
                                  (cdkDropListDropped)="drop($event)">
                                  <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                                        <img class="svg" src="assets/svg/hourglass.svg">   
                                    {{item}}</div>
                                </div>
                        </div>
                        <div class="example-container">
                            <h5>Yapım Aşamasında olanlar</h5>
                          
                            <div
                              cdkDropList
                              #doneList="cdkDropList"
                              [cdkDropListData]="data.done"
                              [cdkDropListConnectedTo]="[progressList]"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                                    <img class="svg" src="assets/svg/like.svg">   
                                {{item}}</div>
                            </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <small> Copyright 2019 Todo List APP</small>
            </div>
        </div>
    </div>
</div>
